body {
  background: #0e0340;
  font-family: TanNimbus;
  color: white;
}

.nav {
    position: absolute;
    left: 0;
    bottom: 0;
    float: left;
    background-color: #1b067d;
    height: 50px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    margin-bottom: 15px;
    width: 450px;
    border-radius: 30px;
    margin-left: 7.5px;
    border: white 2px solid;
}

.navicon {
  border-radius: 50px;
  width: 45px;
}

.navactive {
  border-radius: 50px;
  border: white 2px solid;
  width: 45px;
}

.ad {
  display: block;
  background-color: #1b067d;
  width: 650px;
margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  height: 300px;
}

.flex {
  display: flex;
}

.adimg {
  width: 230px;
  margin-top: 35px;
  border-radius: 17.544%;
}

.adadjust {
  margin-left: 20px;
}

@font-face {
  font-family: 'TanNimbus';
  src: url('/TANNIMBUS.otf');
  font-weight: normal;
  font-style: normal;
}

.arial {
  font-family: arial;
}

.adtext {
  font-family: TanNimbus;
  color: white;
  margin-top: 30px;
  font-size: 45px;
  text-align: center;
}

.block {
  display: block;
}

.center {
  text-align: center;
}

.slogan {
  text-align: center;
  margin-top: -15px;
}

.adpyxeltext {
  display: block;
  margin-top: 30px;
}